.one{
    display: inline-block;
    margin-left: 35px;
    margin-bottom:  20px;
    }
    .two{
        display: inline-block;
        margin-left: 35px;
       
        margin-bottom:  20px;
    }
    .three{
        display: inline-block;
        margin-left: 35px;
        
        margin-bottom:  20px;
    
    }
    .four{
        display: inline-block;
        margin-left: 35px;
        
        margin-bottom:  20px;
    
    }
    .five{
        display: inline-block;
        margin-left: 35px;
      
        margin-bottom:  20px;
    
    } 
    .six {
        display: inline-block;
        margin-left: 35px;
      
        margin-bottom:  20px;
    
        }
    .seven{
        display: inline-block;
        margin-left: 35px;
       
        margin-bottom:  20px;
    
        }
     .eight{
        display: inline-block;
        margin-left: 35px;
        
        margin-bottom:  20px;
    
        }
      .nine {
        display: inline-block;
        margin-left: 35px;
      
        margin-bottom:  20px;
    
        }
      .ten {
        display: inline-block;
        margin-left: 35px;
        
        margin-bottom:  20px;
    
        }
      .eleven {
        display: inline-block;
        margin-left: 35px;
        
        margin-bottom:  20px;
    
        }
      .twelve {
        display: inline-block;
        margin-left: 35px;
       
        margin-bottom:  20px;
    
        }
      .thirteen {
        display: inline-block;
        margin-left: 35px;
        
        margin-bottom:  20px;
    
        }
      .fourteen {
        display: inline-block;
        margin-left: 35px;
       
        margin-bottom:  20px;
    
        }
      .fifteen {
        display: inline-block;
        margin-left: 35px;
       
        margin-bottom:  20px;
        }
      .sixteen {
        display: inline-block;
        margin-left: 35px;
        
        margin-bottom:  20px;
    
        }
      .seventeen {
        display: inline-block;
        margin-left: 35px;
        
        margin-bottom:  20px;
    
        }
    .eighteen{
        display: inline-block;
        margin-left: 35px;
       
        margin-bottom:  20px;
    
        }
    .nineteen{
        display: inline-block;
        margin-left: 35px;
        
        margin-bottom:  20px;
    
        }
    .twenty{
        display: inline-block;
        margin-left: 35px;
        
        margin-bottom:  20px;
    
        }
    .twenty-one{
        display: inline-block;
        margin-left: 35px;
      
        margin-bottom:  20px;
    
        }
    .twenty-two{
        display: inline-block;
        margin-left: 35px;
       
        margin-bottom:  20px;
    
        }
    .twenty-three{
        display: inline-block;
        margin-left: 35px;
        
        margin-bottom:  20px;
    
        }
    .twenty-four{
        display: inline-block;
        margin-left: 35px;
       
        margin-bottom:  20px;
    
    
        }
    .twenty-five{
        display: inline-block;
        margin-left: 35px;
        
        margin-bottom:  20px;
    
        }